div(class='container')
 div(class='page-header')
  h1 
   span(class='glyphicon glyphicon-tint', style='padding-left:5px;')
   span(id='header') Simple Weather
     small
      span(style='padding-left:7px;') nothing else

 div(id='location')
  h2 
   span(class='glyphicon glyphicon-map-marker')
   span(id='locloc') 
   
   
 div(id='info')
  div(class='row')
   div(class='col-md-6 col-lg-6')
    span(id='temp') 
   div(class='col-md-6 col-lg-6')
    span(id='descr') 
    
script
 |if (window.navigator && window.navigator.geolocation) 
 |{
 |var openWeatherMap = 'http://api.openweathermap.org/data/2.5/weather'
 |window.navigator.geolocation.getCurrentPosition(function(position) 
 | {
 |  var loc = {"lat": position.coords.latitude, "long": position.coords.longitude };
 |  socket.emit('loc1', loc)
 |  $.getJSON(openWeatherMap, {
 |            lat: position.coords.latitude,
 |            lon: position.coords.longitude,
 |            units: 'metric',
 |            APPID: '105399c9ba76992b81e3e771490300c8'
 |             }).done(function(weather) {
 |             socket.emit('weather1', weather)
 |             })
 |})
 |}
 |socket.on('loc2',function(data){
 |$('#locloc').html(data)   
 |})
 |socket.on('descr', function(data){
 |$('#descr').html(data) 
 |})
 |socket.on('temp', function(data){
 |$('#temp').html(data+' '+'&#8451') 
 |})
 |socket.on('id', function(data){   
 |if(data=='8'){
 |$('body').addClass('clear')   
 |}else if (data=='2') {
 |$('body').addClass('thunder') 
 |}else if (data=='3') {
 |$('body').addClass('drizle')    
 |} 
 |else if (data=='5') {
 |$('body').addClass('rain')  
 |}
 |else if (data=='6') {
 |$('body').addClass('snow') 
 |}
 |else{
 |$('body').addClass('clear1')
 |}
 |})
