body.clear {
    background-image: url("../img/clear.jpg");
    background-attachment: fixed;
    background-size: cover;
}
body.clear1 {
    background-image: url("../img/clear1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
div.page-header {
    border-width: 1px;
    border-color: #686868;
}
#info{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#location{
 float:right;
 color: #686868;
}
#temp{
  font-size: 50px;
  font-weight: 900;
  color: #686868;
}
#descr{
  font-size: 50px;
  font-weight: 900;
  color: #686868;
}
#header{
  font-weight: 600;
}
